.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: calc(2vw + -4rem);

  ul {
    @media only screen and (max-width: 375px) {
      flex-wrap: wrap;
      margin-bottom: 1rem;
    }

    width: 70vw;
    background-color: #fff;

    display: flex;
    align-items: center;
    padding: 1.5rem 2rem;
    border-radius: 5px;

    margin: 1.3rem 0;
    position: relative;

    box-shadow: 0px 4px 6px 4px rgba(91, 164, 164, 0.2);

    margin-bottom: -2rem;

    position: relative;

    li {
      list-style: none;

      background-color: var(--background-color);
      color: var(--primary-color);
      font-weight: 700;
      padding: 0 0 0 0.5rem;
      display: flex;
      align-items: center;

      border-radius: 5px;

      @media only screen and (max-width: 375px) {
        margin-bottom: 0.5rem;
      }

      &:not(:last-child) {
        margin-right: 1rem;
      }

      .close {
        background-color: var(--primary-color);

        border: none;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        margin-left: 0.5rem;
        transition: all 0.2s;
        img {
          padding: 0.5rem;
        }

        &:hover {
          background-color: var(--very-dark-greyish);
        }
      }
    }

    a {
      color: var(--very-dark-greyish);
      position: absolute;
      right: 1.5rem;
      text-decoration: none;

      &:hover {
        color: var(--primary-color);
        text-decoration: underline;
      }
    }
  }
}

.Cardsback{
    
  position: absolute;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  z-index: 1;

  bottom: 550px;
  width: 200px;
  height: 60px;
    color: black;
    
    font-size: 25px;
    text-align: center;
    left: 10%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    padding: 15px 32px;
  border: 3px solid silver; /* Green */
  display: inline-block;
  background-color: silver;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 12px; 
   font-weight: bold;
   box-shadow: 0 0 0 1px silver,0 0 0 2px rgba(255, 255, 255, 0.15) inset,0 4px 0 0 grey,0 4px 0 1px rgba(0, 0, 0, 0.4),0 4px 4px 1px rgba(0, 0, 0, 0.5);
   background: linear-gradient(250deg, #fff, #525153   );
  
}

.Cardback:hover{
  box-shadow: 5px 10px 20px 1px rgba(250, 246, 246, 0.253) !important;
  
}


