.Jobs{
    bottom: 200px;
    width: 100;
    height: 100;
      color: black;
      position: fixed;
      font-size: 50px;
      
      left: 36%;
      /* bring your own prefixes */
      transform: translate(-50%, -50%);
      padding: 15px 70px;
    border: 3px solid silver; /* Green */
    display: inline-block;
    background-color: silver;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
font-weight: bold;
}

.Offices{
    bottom: 400px;
    width: 100;
    height: 100;
      color: black;
      position: fixed;
      font-size: 50px;
      
      left: 36%;
      /* bring your own prefixes */
      transform: translate(-50%, -50%);
      padding: 15px 32px;
    border: 3px solid silver; /* Green */
    display: inline-block;
    background-color: silver;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
    font-weight: bold;

}
.People{
     bottom: 400px;
    width: 100;
    height: 100;
      color: black;
      position: fixed;
      font-size: 50px;
      
      left: 63%;
      /* bring your own prefixes */
      transform: translate(-50%, -50%);
      padding: 15px 32px;
    border: 3px solid silver; /* Green */
    display: inline-block;
    background-color: silver;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
    font-weight: bold;
}

.Directory{
    bottom: 200px;
    width: 100;
    height: 100;
      color: black;
      position: fixed;
      font-size: 50px;
      
      left: 63%;
      /* bring your own prefixes */
      transform: translate(-50%, -50%);
      padding: 15px 32px;
    border: 3px solid silver; /* Green */
    display: inline-block;
    background-color: silver;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
    font-weight: bold;
}

.AboutMKE{
    bottom: 0px;
    width: 100;
    height: 100;
      color: black;
      position: fixed;
      font-size: 50px;
      
      left: 63%;
      /* bring your own prefixes */
      transform: translate(-50%, -50%);
      padding: 15px 32px;
    border: 3px solid silver; /* Green */
    display: inline-block;
    background-color: silver;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px; 
     font-weight: bold;
}

.NewsEvents{
    bottom: 0px;
    width: 100;
    height: 100;
      color: black;
      position: fixed;
      font-size: 50px;
      
      left: 37%;
      /* bring your own prefixes */
      transform: translate(-50%, -50%);
      padding: 13px 15px;
    border: 3px solid silver; /* Green */
    display: inline-block;
    background-color: silver;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 12px;
    font-weight: bold;
    box-shadow: 0 0 0 1px grey inset,0 0 0 2px rgba(255, 255, 255, 0.15) inset,0 4px 0 0 grey,0 4px 0 1px rgba(0, 0, 0, 0.4),0 4px 4px 1px rgba(0, 0, 0, 0.5);
    
}

        